.page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
  }
 .new-note{
   font-size: 100 !important;
 }
 .container-height{
   height: 100%;
 }
 .margin-top-60{
   margin-top: 60px;
 }
 .header{
   height: 15%;
 }
 .note-body{
  height: 75%;
  padding: 10px;
  margin-left: 32px;
  margin-right: 14px;
 }
 .btn-delete{
   margin-top: 20px;
   margin-right: 13px;
}
